In [1]:
#general operations
import time
import os

#data processing
import pandas as pd
import numpy as np

#data visualisation
import matplotlib.pyplot as plt

#standard AWS operations
from sagemaker import get_execution_role
import boto3

import tensorflow as tf

In [23]:
bucket = 'see-ml-storage'
file_name = 'all-userItemInteractions-until-2019-01-13-01-modified.csv'

In [24]:
data_location = 's3://{}/{}'.format(bucket, file_name)

In [25]:
df = pd.read_csv(data_location)

In [26]:
df.shape

(22378, 3)

In [27]:
len(df['USER_ID'].unique())

11859

In [28]:
len(df['ITEM_ID'].unique())

10000

#### Remove Useless Data

In [29]:
df_count=df.groupby('ITEM_ID').count().sort_values('USER_ID', ascending=False)

In [30]:
item_id_keep=df_count[df_count['USER_ID']>=5].index

In [31]:
index_keep=df[df['ITEM_ID'].apply(lambda x: True if x in item_id_keep else False)].index

In [32]:
df=df.iloc[index_keep]

In [33]:
df.shape

(8790, 3)

In [34]:
len(df['USER_ID'].unique())

5381

In [35]:
len(df['ITEM_ID'].unique())

666

#### Check Duplicates

In [32]:
df_clean=df.copy()
df_clean=df_clean[['USER_ID','ITEM_ID']]

In [34]:
sum(df_clean.duplicated())

1478

In [35]:
df_clean.drop_duplicates(inplace=True)

In [36]:
df_clean.head()

                                          USER_ID  ITEM_ID
2   016434746fb20012218b0e90e1bf1c065002c05d0093c  2288085
3   01667aab565c001fe236ce4ff8df02075005306d00fb8  2254093
6   01667a918deb0014fff4d372d56f03073001606b00978  2995200
8   01667a993d48000243cc54ad6ce40009b008209300408  3429569
33  01667ab66085009acf9f989d801803072004c06a0086e   673120

In [37]:
from tqdm import tqdm_notebook as tqdm

In [38]:
count=[]

for _,row in tqdm(df_clean.iterrows(), total=df_clean.shape[0]):
    count.append(sum((df['ITEM_ID']==row['ITEM_ID']) & (df['USER_ID']==row['USER_ID'])))

HBox(children=(IntProgress(value=0, max=4448), HTML(value='')))

In [39]:
df_clean['COUNT']=count

In [41]:
df_clean.reset_index(inplace=True, drop=True)

In [44]:
df_clean.sort_values('COUNT', ascending=False)

                                            USER_ID  ITEM_ID  COUNT
2764  0166874021190001b727595e884503072001606a009dc  3420290     29
2763  0166874021190001b727595e884503072001606a009dc  3420293     27
2765  0166874021190001b727595e884503072001606a009dc  3420265     20
52    0164348342e50022b3379f0fc19c03072004d06a007e8  3327504     18
20    016661468d0300554edd7dbbb9dc0307200fa06a00bd0   658912     17
3095  0166a97240bd00486727915926bc01075005306d00718  3161428     17
236   01667bceb5b30008ba8f6ae2f90a1b06e001606600bd0  2805925     16
638   016434b5de3300aff0233de7a76004071008c06900bd0  3334728     16
28    0164f880c6bd0014d32337e423af01081007107900978  3404685     14
82    0165a787c9090001a2db1e319a9a1b06d00810650093c  2980739     14
631   0166830d86940091745f71212e000307e00c40760086e  2496825     14
717   0165cc2d33e0005c4213b00ebe2003072005606a0086e  1223492     13
637   016434b5de3300aff0233de7a76004071008c06900bd0  3319187     13
79    01659f53e8c0003469a369a97a5c03073006706b00bd0  1249728     11
636   0165acf32d5d00284a487b178a9e020b000990a800bd0  3319187     11
77    01659f53e8c0003469a369a97a5c03073006706b00bd0  2467422     11
78    01659f53e8c0003469a369a97a5c03073006706b00bd0  1821696     11
1748  01669b1014ba001f1f1ae0f344a403072004106a0086e  1220725     10
146   0166452873a000483281a0d032b403073006c06b00978   478662     10
4025  0166c3fd53230017b4621f162a8f010e000630d80086e  3432409     10
1945  0164b6fbe69400125ee8802acba61a06d003306500918  1196690     10
3696  01667aeabc1b002169b01dc6d2c003072001606a00bd0  2011099      9
247   0165acf32d5d00284a487b178a9e020b000990a800bd0  3334728      9
13    016434618d79001a788ec210255703071004906900bd0  1002194      9
12    016434618d79001a788ec210255703071004906900bd0  3214361      9
3151  0166af4a5a17005ebd7038c3ace403072005e06a00918  3391612      9
2346  0166a0f83747000e2158c39bfc720508d005708500bd0  3119379      9
3332  0166b46be771000dd3eae2c3fb07010dc00630d40086e  3433889      9
1404  0163fd59dfde0013d77fce2dd8b203071007306900bd0  3429569      8
2270  01669fb3ae57001d83832510c7c303072004106a00918   295312      8
...                                             ...      ...    ...
1654  01669a8b5d6d0022dca2032531f400073005906b008c0  3375586      1
1653  01669a8c0d670015157b7919c16c00073005906b008c0  3375586      1
1625  01669a844e02001189282f03ed6a00073005906b008c0  3375586      1
1626  01669a8570ac000169421f16ef4600073005906b008c0  3375586      1
1627  01669a836bdc0049bb4ddf4ce40000073005906b008c0  3375586      1
1628  01669a847b280071586fdcd9afb400073005906b008c0  3375586      1
1629  01669a84f64c0002954a27f3e26200073005906b008c0  3375586      1
1630  01669a85155000124613b935480300073005906b008c0  3375586      1
1631  01669a8643f900188eff58ee170300073005906b008c0  3375586      1
1632  01669a867c460014b3833e3c0e4100073005906b008c0  3375586      1
1633  01669a842b57001aabb7a2baa42f00073005906b008c0  3375586      1
1634  01669a850eed0011218300835bf800073005906b008c0  3375586      1
1635  01669a8619b900019dfb897ec93100073005906b008c0  3375586      1
1636  01669a8775a4001e3397c440ec6700073005906b008c0  3375586      1
1637  01669a84eccb0016485b54ef2e6100073005906b008c0  3375586      1
1638  01669a8537f30018283efbac31ff00073005906b008c0  3375586      1
1639  01669a88c7e40021e8c1a2ed174000073005906b008c0  3375586      1
1640  01669a88cb5300023ca4c0bd6c6800073005906b008c0  3375586      1
1641  01669a85f0cb000332f9b07065de00073005906b008c0  3375586      1
1642  01669a862d32001e76599c97a66600073005906b008c0  3375586      1
1643  01669a86442700170fcb6b5d540e00073005906b008c0  3375586      1
1644  01669a89ca5800020fc531b6415500073005906b008c0  3375586      1
1645  01669a875b9f00916f9f1271540800073005906b008c0  3375586      1
1647  01669a8959fe0015b84f337a8b1400073005906b008c0  3375586      1
1648  01669a89deda0095f736bcac942000073005906b008c0  3375586      1
1649  01669a8b0f1c001e94c9c3e39bc500073005906b008c0  3375586      1
1650  01669a8c08be001dca338906077e00073005906b008c0  3375586      1
1651  01669a88a083000f4c564b9670a900073005906b008c0  3375586      1
1652  01669a8adfa8001a38932097a88f00073005906b008c0  3375586      1
4447  0166cbe50732000e437a1653629803072002706a00bd0  1002194      1

[4448 rows x 3 columns]